*{
	padding: 0;
	margin: 0;
}
.header{
	background-image: url(../img/15.jpg);
	background-position: center;
	height: 90vh;
	background-size: cover;
}
.nav-bar{
	top: 0;
	position: sticky;
	z-index: 10;

}
.navbar{
	background: rgba(0,0,0,0.9);

}
.navbar-toggler{
	outline: none !important;
}
.navbar-nav{
	float: right;
	text-align: right;
}
.nav-link{
	color: #fff !important;
}
.navbar-brand img{
	width: 150px;
	height: 30px;
	margin-left: 30px;
}
.navbar-toggler{
	border: none;
	outline: none;
}

.fab:hover{

color: #007bff;

}
/* --------------Welcome text-------------------------*/
.welcome{
	padding: 30px 100px;
	margin-top: -140px;
	background-color: #fff;
	box-shadow: 0 0 20px 7px rgba(0,0,0,0.2);
	
	border-right:40px solid #007bff;
	
	

}
.welcome h1{
	color: #333;
}
.welcome .home-btn{
	margin-top: 10px;
	padding: 10px 30px;
	border-radius: 30px;
	background-color: #f1de2f;
	border:none;
	transition: 3s;
}
.welcome .home-btn:hover{
	color: rgb(216, 75, 10);
	transform: scale(1.1);
	cursor: pointer;
}
.welcome .home-btn:focus{
	box-shadow: none;
}
/* --------------Welcome text-------------------------*/
#about{
	padding-top:80px;
	padding-bottom: 50px;
}
#about .col-md-6{
	padding: 20px 10px;
}
#about h3{
	margin: 20px auto;
}
#features{
	margin-top: -250px;
	padding-top: 100px;
	padding-bottom: 100px;
	background:linear-gradient(rgba(0,0,0,0.8),rgba(0,0,0,0.8)),url(img/2.jpg);
	background-attachment: fixed;
	background-size: cover;
	background-position: center;
	color: #fff;
}
 #features h1{
	text-align: center;
	color: #fff;
	font-size: 50px;
	padding-bottom: 20px;

}
#features .col-md-6{
	padding: 20px;
}
.feature-box .row1:hover{
background-color: #efefef;
color: #000;
cursor: pointer;
transition: 2s;
padding: 30px;
}

#packeges{
	margin-top: 100px;
	margin-bottom: 50px;
}
#packeges h1{
	text-align: center;
	color: #000;
	font-size: 50px;
	padding-bottom: 20px;
	padding-top: 20px;
}
#packeges img{
	width: 100%;
}
#packeges .fa{
	float: right;
	background-color: #fff;
	margin-top: -19px;
	font-size: 20px;
}
#packeges h2{
	text-align: center;
	padding-top: 20px;

}
#packeges p{
	padding: 10px;

}
#packeges .btn{
	border-radius: 30px;
	padding: 10px 30px;
	margin-top: 10px;
	margin-bottom: 40px;
	box-shadow: none;
	transition: 1s;
}
#packeges .btn:hover{
	transform: scale(1.2);
	color: #fff;
}
#packeges .card{
	box-shadow: 0 0 20px 7px rgba(0,0,0,0.3);

}




.review{
	font-size: 16px;
	padding: 10px 10px 10px 30px;
	border-radius: 10px;
	box-shadow: 0px 0px 20px 1px rgba(0,0,0,0.2);
	background-color: #fff;
}
.review .fa{
	color: #013f7e;
}
.review span{
	color: #013f7e;
	font-weight: 600;
	font-size: 18px;
}
#contact{
	
	background:#efefef;
	padding-top: 50px;
	padding-bottom: 50px;
	color: #777;

}
.contact-form{
	padding: 15px;
}
.form-control{
	border-radius: 0 ! important;
	border:none ! important;
}
::placeholder{
	color: #999 ! important;
	}
	#contact h1{
	text-align: center;
	color: #777 ! important;
	padding-bottom: 10px;
}
#contact h1::after{
	content: '';
	background:#007bff;
	display: block;
	height: 3px;
	width: 170px;
	margin: 20px auto 5px;
}
.follow{
	background-color: #fff;
	padding: 10px;
	margin:15px;
}.contact-info .fa{
	margin: 10px;
	color: #007bff;
	font-weight: bold;
}


#footer{
	padding-top: 50px;
	padding-bottom: 20px;
	background-color: #1e2f2f;
	color: #fff;
}
#footer .hed .fa{
	font-size: 50px;
	padding: 10px;
	transition: 1s;

}
#footer .hed .fa:hover{
	transform: scale(1.1);
	cursor: pointer;
}
#footer p{
	font-weight: 600;
	text-align: center;
}
#footer hr{
	color: #fff;
}
/*--------------------sticky-bar---------------------*/
.sticky-bar{
	top: 50%;
	transform: translateY(-50%);
	position: sticky;
	z-index: 1;
	width: 80px;
}
.sticky-bar ul{
	padding: initial;
}
.sticky-bar ul li .btn{
	height: 40px;
	width: 110px;
	list-style-type: none;
	padding-top: 10px;
	padding-left: 12px;
	margin-top: 5px;
	color: #fff;
	
}
.sticky-bar ul a{
	text-decoration: none;
	color: #efefef;
	font-size: 13px;
}
.sticky-bar ul li .btn:hover{
	width: 130px;
	padding-left:30px;
	transition: 1s;
}
.back-to-top {
	position: fixed;
	
	background: #18d26e;
	color: #fff;
	width: 44px;
	height: 44px;
	text-align: center;
	line-height: 1;
	font-size: 16px;
	border-radius: 50%;
	right: 15px;
	bottom: 15px;
	transition: background 0.5s;
	z-index: 11;
  }
  .back-to-top i {
	padding-top: 12px;
	color: #fff;
  }

  /* Portfolio Section
--------------------------------*/

#portfolio {
	padding: 60px 0;
  }
  
  #portfolio #portfolio-flters {
	padding: 0;
	margin: 5px 0 35px 0;
	list-style: none;
	text-align: center;
  }
  
  #portfolio #portfolio-flters li {
	cursor: pointer;
	margin: 15px 15px 15px 0;
	display: inline-block;
	padding: 10px 20px;
	font-size: 12px;
	line-height: 20px;
	color: #666666;
	border-radius: 4px;
	text-transform: uppercase;
	background: #fff;
	margin-bottom: 5px;
	transition: all 0.3s ease-in-out;
  }
  
  #portfolio #portfolio-flters li:hover,
  #portfolio #portfolio-flters li.filter-active {
	background: #18d26e;
	color: #fff;
  }
  
  #portfolio #portfolio-flters li:last-child {
	margin-right: 0;
  }
  
  #portfolio .portfolio-wrap {
	box-shadow: 0px 2px 12px rgba(0, 0, 0, 0.08);
	transition: 0.3s;
  }
  
  #portfolio .portfolio-wrap:hover {
	box-shadow: 0px 4px 14px rgba(0, 0, 0, 0.16);
  }
  
  #portfolio .portfolio-item {
	position: relative;
	height: 360px;
	overflow: hidden;
  }
  
  #portfolio .portfolio-item figure {
	background: #000;
	overflow: hidden;
	height: 240px;
	position: relative;
	border-radius: 4px 4px 0 0;
	margin: 0;
  }
  
  #portfolio .portfolio-item figure:hover img {
	opacity: 0.4;
	transition: 0.3s;
  }
  
  #portfolio .portfolio-item figure .link-preview,
  #portfolio .portfolio-item figure .link-details {
	position: absolute;
	display: inline-block;
	opacity: 0;
	line-height: 1;
	text-align: center;
	width: 36px;
	height: 36px;
	background: #fff;
	border-radius: 50%;
	transition: 0.2s linear;
  }
  
  #portfolio .portfolio-item figure .link-preview i,
  #portfolio .portfolio-item figure .link-details i {
	padding-top: 6px;
	font-size: 22px;
	color: #333;
  }
  
  #portfolio .portfolio-item figure .link-preview:hover,
  #portfolio .portfolio-item figure .link-details:hover {
	background: #18d26e;
  }
  
  #portfolio .portfolio-item figure .link-preview:hover i,
  #portfolio .portfolio-item figure .link-details:hover i {
	color: #fff;
  }
  
  #portfolio .portfolio-item figure .link-preview {
	left: calc(50% - 38px);
	top: calc(50% - 18px);
  }
  
  #portfolio .portfolio-item figure .link-details {
	right: calc(50% - 38px);
	top: calc(50% - 18px);
  }
  
  #portfolio .portfolio-item figure:hover .link-preview {
	opacity: 1;
	left: calc(50% - 44px);
  }
  
  #portfolio .portfolio-item figure:hover .link-details {
	opacity: 1;
	right: calc(50% - 44px);
  }
  
  #portfolio .portfolio-item .portfolio-info {
	background: #fff;
	text-align: center;
	padding: 30px;
	height: 90px;
	border-radius: 0 0 3px 3px;
  }
  
  #portfolio .portfolio-item .portfolio-info h4 {
	font-size: 18px;
	line-height: 1px;
	font-weight: 700;
	margin-bottom: 18px;
	padding-bottom: 0;
  }
  
  #portfolio .portfolio-item .portfolio-info h4 a {
	color: #333;
  }
  
  #portfolio .portfolio-item .portfolio-info h4 a:hover {
	color: #18d26e;
  }
  
  #portfolio .portfolio-item .portfolio-info p {
	padding: 0;
	margin: 0;
	color: #b8b8b8;
	font-weight: 500;
	font-size: 14px;
	text-transform: uppercase;
  }
  @media screen and (max-width:700px) {
	.sticky-bar{
		display: none;
	}
	#features h2{
		margin-top: 100px;
	}
  }
  